body{
    font-family: Arial;
    background:#c5bc9d;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.quiz-container{
    background:rgb(113, 93, 93);
    padding:30px;
    width:400px;
    text-align:center;
    border-radius:10px;
}

.btn{
    display:block;
    width:100%;
    padding:10px;
    margin:10px 0;
    cursor:pointer;
}

#nextBtn{
    margin-top:15px;
    padding:10px;
    color:black;
    background-color: chartreuse;
}